@layer global, components, utilities;

@layer global {
	
	/* montserrat-500 - latin */
	@font-face {
		font-display: swap;
		/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		src: url('fonts/montserrat-v31-latin-500.woff2') format('woff2');
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	
	/* montserrat-700 - latin */
	@font-face {
		font-display: swap;
		/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		src: url('fonts/montserrat-v31-latin-700.woff2') format('woff2');
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	
	/* fraunces-700 - latin */
	@font-face {
		font-display: swap;
		/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Fraunces';
		font-style: normal;
		font-weight: 700;
		src: url('fonts/fraunces-v38-latin-700.woff2') format('woff2');
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	
	:root {
		/* || FONT SIZES */
		--FS-14: calc(14 / 16 * 1rem);
		--FS-16: calc(16 / 16 * 1rem);
		--FS-17: calc(17 / 16 * 1rem);
		--FS-28: calc(28 / 16 * 1rem);
		--FS-38: calc(38 / 16 * 1rem);
		
		--FS-PARAGRAPH: var(--FS-16);
		--FS-H3: var(--FS-17);
		--FS-TITLE: var(--FS-38);
		
		@media (width >=calc(600 / 16 * 1rem)) {
			--FS-PARAGRAPH: var(--FS-16);
		}
		
		/* || COLORS */
		
		/* || PRIMARY */

		/* || NEUTRAL */

		
		/* || SPECIFIED */

	}
	
	/* || RESET */
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
	
	* {
		margin: 0;
		padding: 0;
	}
	
	img {
		display: block;
		height: auto;
		max-width: 100%;
	}
	
	/* || MAIN GLOBAL STYLES */
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background-color: var(--C-BODY-BG);
		position: relative;
	}
	
	h1 {
		line-height: 1.1;
		font-size: var(--FS-TITLE);
		font-weight: 700;
	}
	
	p {
		font-size: var(--FS-PARAGRAPH);
		font-weight: 500;
	}
}
  
  
@layer utilities {
	.offscreen {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
		
		&.skip:focus {
			left: 0;
			width: auto;
			height: auto;
			background: #fff;
			padding: 10px;
			border: 1px solid;
		}
	}
	
	.attribution {
		font-size: 11px;
		text-align: center;
	}
	.footer {
	position: absolute;
	bottom: 0;
	.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
}
}
